<mat-toolbar color="warn">
    <div class="landing-header">{{pageTitle}}</div>
    <span class="example-spacer"></span>
    <a routerLink='/home' routerLinkActive="active"> Home </a>
    <span class="example-spacer"></span>
    <a routerLink='/appointment-standard' routerLinkActive="active"> Reserve standard </a>
    <span class="example-spacer"></span>
    <a routerLink='/comments' routerLinkActive="active"> Comments </a>
    <span class="example-spacer"></span>
    <a routerLink='/survey' routerLinkActive="active"> Survey </a>
    &#160; &#160;
    <a routerLink='/medicalRecord' routerLinkActive="active"> Medical Record </a>
    <span class="spacer"></span>
    <button mat-raised-button (click)="navigate()">Register</button>  &#160;
    <button mat-raised-button (click)="login()">&#160;&#160;Login &#160;&#160;</button>
</mat-toolbar>