<mat-toolbar color="warn">
    <div class="landing-header">{{pageTitle}}</div>
    <span class="example-spacer"></span>
    <a routerLink='/home' routerLinkActive="active"> Home </a>
    <span class="example-spacer"></span>
    <a routerLink='/appointment-standard' routerLinkActive="active"> Reserve standard </a>
    <span class="example-spacer"></span>
    <a routerLink='/comments' routerLinkActive="active"> Comments </a>
    <span class="example-spacer"></span>
    <a routerLink='/survey/:id/:ap' routerLinkActive="active"> Survey </a>
    <span class="example-spacer"></span>
    <a routerLink='/medicalRecord' routerLinkActive="active"> Medical Record </a>
    <span class="example-spacer"></span>
    <a routerLink='/recommendAppointment' routerLinkActive="active"> Recommend Appointment </a>
    <span class="spacer"></span>
    <button mat-raised-button (click)="LogOut()">Log Out</button>
</mat-toolbar>