mat-toolbar span{
    margin-left: 20px;
    display: flex;
}

.example-spacer {
    flex: 1 1 auto;
  }
<<<<<<< HEAD

mat-toolbar a{
    text-decoration-color: aliceblue;
    color: aliceblue;
}

mat-toolbar div{
   color: black;
}
=======
  
>>>>>>> e28da3b478b9b0a8a8a9c221976111a9939c0361
