mat-toolbar span{
    margin-left: 20px;
    display: flex;
}

.example-spacer {
    flex: 1 1 auto;
  }

mat-toolbar a{
    text-decoration-color: aliceblue;
    color: aliceblue;
}

mat-toolbar div{
   color: black;
}

