<mat-toolbar color="warn">
    <span> 
        <a routerLink='/home'> Home Page </a>
    </span> 
    
    <span> 
        <a routerLink='/reviews'> Review Pharmacies </a>
    </span> 

    <span> 
        <a routerLink='/feedbacks'> Feedbacks </a>
    </span> 

    <span> 
        <a routerLink='/drugs-consumption'> Drugs Report and Specs </a>
    </span> 

    <span> 
        <a routerLink='/purchase'> Purchase drugs </a>
    </span> 

    <span> 
        <a routerLink='/drugstore-offer'> View drugstore offers </a>
    </span> 
    <span> 
        <a routerLink='/all-drugstores'> Drugstores </a>
    </span> 

    <span> 
        <a matBadgeOverlap="false" routerLink='/files'>Files</a>
    </span>

    <span class="example-spacer"></span>

    <span class="registration"> 
        <a routerLink='/registration'> Register </a>
    </span> 
    <span class="registration"> 
        <a routerLink='/login'> Log in </a>
    </span> 

</mat-toolbar>
