<div class="container-fluid">
    
    

    <div>
        <div class="row">
            <div class="col-sm-4">
                <p style="color: crimson; margin-top: 2%;">Drugstore tenders and prices:</p>
                <canvas id="winsChart"></canvas>
            </div>
            <div class="col-sm-4">
                <p style="color: crimson; margin-top: 2%;">Drugstore participations and winnings:</p>
                <canvas id="profitsChart"></canvas>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-sm-4">
                <p> Total wins: {{chartWins}}</p>
                <p> Total profit: {{chartProfit}}</p>
                <p> Participations: {{chartParticipations}}</p>
            </div>
            
        </div>
    </div>
    <div class="container" style="height: 50px;">

    </div>
</div>