
src/Integration API/.vs/Integration API/DesignTimeBuild/.dtbcache.v2
src/Integration API/.vs/Integration API/v16/.suo
src/Integration API/.vs/Integration API/v16/.suo
src/Integration API/bin/Debug/netcoreapp3.1/Integration API.pdb
