<mat-toolbar color="warn">
  <div class="landing-header">{{pageTitle}}</div>
  <span class="spacer"></span>
  <button mat-raised-button (click)="register()">Register</button>
</mat-toolbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <div class="example-container">
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="">
            </mat-form-field>
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Password</mat-label>
              <input type="text"  matInput placeholder="">
            </mat-form-field>
            </div>
  
        <button mat-stroked-button color="accent" class="btn-block">Login</button>
  
      </form>
    </mat-card>
  </div>

  