<mat-toolbar>
    <app-navigation></app-navigation>
</mat-toolbar>
<div >
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title id="title">{{drugstore.Name}}</mat-card-title>
            <mat-card-subtitle id="address">{{drugstore.Address}}, {{drugstore.City}} </mat-card-subtitle>
            <img mat-card-lg-image src={{drugstore.ImageBase64}} alt="No logo">
            <input #imageInput
                type="file"
                accept="image/*"
                (change)="handleFileSelect($event)">
        </mat-card-title-group>
        <textarea id="comment" matInput placeholder="Your comment" [(ngModel)]="drugstore.Comment" name="comment" matInput></textarea>
        <a id="change" mat-raised-button (click)="editDrugstore()">Izmeni</a>
    </mat-card>
    <mat-card class="example-card">
        <div class="container-fluid">
            <app-drugstore-chart></app-drugstore-chart>
        </div>
    </mat-card>
</div>
