<mat-toolbar color="warn">
    <span> 
        <a routerLink='/home'> Home Page </a>
    </span> 
    
    <span> 
        <a routerLink='/home'> Drugs </a>
    </span> 
    <span> 
        <a routerLink='/home'> Account </a>
    </span> 

    <span class="example-spacer"></span>

    <span class="registration"> 
        <a routerLink='/registration'> Register </a>
    </span> 
    <span class="registration"> 
        <a routerLink='/login'> Log in </a>
    </span> 

    
        
</mat-toolbar>
