<mat-toolbar color="warn">
    <span> 
        <a routerLink='/home'> Home Page </a>
    </span> 
    
    <span> 
        <a routerLink='/home'> Drugs </a>
    </span> 
    <span> 
        <a routerLink='/home'> Account </a>
    </span> 
    <span> 
        <a routerLink='/reviews'> Reviews </a>
    </span>
    <span> 
        <a routerLink='/drugstore-offer'> Create an offer </a>
    </span> 
    <span> 
        <a routerLink='/tenders'> Tenders </a>
    </span> 
    <span> 
        <a routerLink='/tender-finishing'> Tender results </a>
    </span>

    <span class="example-spacer"></span>

    <span> 
        <a routerLink='/notifications' class="btn btn-info btn-lg"> Notifications</a>
    </span>
    
    
    <span class="registration"> 
        <a routerLink='/registration'> Register </a>
    </span> 
    <span class="registration"> 
        <a routerLink='/login'> Log in </a>
    </span> 

    
        
</mat-toolbar>
