.img-landing{
    display: block;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.text-center{
    margin: auto;
    float: right;
    font-style: italic;
}