<mat-toolbar color="warn">
  <div class="landing-header">{{pageTitle}}</div>
  <span class="spacer"></span>
  <button mat-raised-button (click)="register()">Register</button>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="login()">Login</button>
</mat-toolbar>
<div class="landing-body">
    <img src="./assets/hospital.png"
             class="img-landing"
             style="max-height:100%; padding-bottom:10px; width:100%;" />
    <div class="reviews-holder">
    <div *ngFor="let comment of comments">
        <div class="review-holder">
        <mat-card class="example-card">
            <mat-card-title>Review</mat-card-title>
            <mat-card-content>
              <p>{{ comment.name }}</p>
              <p>{{ comment.date | date:'short' }}</p>
              <br>
              <mat-card-subtitle>Response</mat-card-subtitle>
              <p><em>"{{ comment.content }}"</em></p>
            </mat-card-content>
        </mat-card>
        </div>
        <br>
        <br>
    </div>
    <div class="text-center" >Developed by: Firma 4 (Team 21)</div>
  </div>