<mat-grid-list cols="1" rowHeight="700px">
    <mat-grid-tile>
        <div class="example-container" >
          <mat-form-field appearance="fill" class="width-200">
            <mat-label>Pharmacy name</mat-label>
            <input type="text" matInput [(ngModel)]="newDrugstore.DrugstoreName">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-200">
            <mat-label>Address</mat-label>
            <input type="text" matInput [(ngModel)]="newDrugstore.Address">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-200">
            <mat-label>E-mail address</mat-label>
            <input type="text" matInput placeholder="Ex. pat@example.com" [(ngModel)]="newDrugstore.Email">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-200">
            <mat-label>URL address</mat-label>
            <input type="text" matInput placeholder="Ex. http://pharmacy021.rs/" [(ngModel)]="newDrugstore.URLAddress">
          </mat-form-field>
          <br>

          <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
          </mat-card-actions>
          <br>
          <br><br>
          </div>
    </mat-grid-tile>
</mat-grid-list>
