<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Hospital name</mat-label>
            <input type="text" matInput [(ngModel)]="newDrugstore.DrugStorename">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Adress</mat-label>
            <input type="text" matInput [(ngModel)]="newDrugstore.address">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Email address</mat-label>
            <input type="text" matInput placeholder="Ex. pat@example.com" [(ngModel)]="newDrugstore.email">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Api Adress</mat-label>
            <input type="text" matInput placeholder="Ex. http://pharmacy021.rs/" [(ngModel)]="newDrugstore.apiAddress">
          </mat-form-field>
          <br>

          <mat-card-actions>
            <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
          </mat-card-actions>
          <br>
          <br><br>
          </div>
    </mat-grid-tile>
</mat-grid-list>
