<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/lenche23/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="lenche23" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>