    <div class="reviews-holder">
    <div *ngFor="let comment of comments">
        <div class="review-holder">
        <mat-card class="example-card">
            <mat-card-title>Review</mat-card-title>
            <mat-card-content>
            <br>
            <p>{{ comment.Name }}</p>
            <p>{{ comment.Date }}</p>
            <mat-card-subtitle>Response</mat-card-subtitle>
            <br>
            <p>{{ comment.Comment }}</p>
          </mat-card-content>

            
        </mat-card>
        </div>
        <br>
        <br>
    </div>
    </div>