.drugstore-holder{
    margin-left: 3%;
    margin-top: 3%;
    align-items: center;
  }
  .font-size{
      font-size: large;
      position: static;
      text-align: center;
  }
  .input-style{
    display: inline-flex;
    margin-left: 1ch;
    position: sticky;
    font-size: large;
    width: 100px;
    text-align: left;
  }