<div>
    <mat-card class="example-card">
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Choose pharmacy:</mat-label>
                <mat-select [(ngModel)]="selectedPharmacy" name="phar">
                  <mat-option *ngFor="let pharmacy of pharmacies" [value]="pharmacy">
                    {{pharmacy.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>Drug name</mat-label>
                <textarea matInput placeholder="Drug name" [(ngModel)]="drugName" name="drugName" matInput></textarea>
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>Amount of drug</mat-label>
                <input matInput type="number" min="1" [(ngModel)]="drugAmount" name="drugAmount" matInput>
              </mat-form-field>
              <br>
              <mat-card-actions>
                <button mat-raised-button (click)="sendDemand()" color="primary">Send review</button>
              </mat-card-actions>
        </mat-card-content>
    </mat-card>
</div>
<br>
<br>