.vs/
bin/
obj/

Integration/obj/
Integration/bin/
IntegrationAPI/obj/
IntegrationAPI/bin/
IntegrationAPI/.vs/

IntegrationApiTests/obj/
IntegrationApiTests/bin/

IntegrationSeleniumTests/obj/
IntegrationSeleniumTests/bin/
IntegrationSeleniumTests/.vs/
