
<mat-stepper  #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form #f1="" [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Pick date of appointment</ng-template>
        <mat-form-field color="accent" appearance="fill">
            <mat-label>Date of appointment</mat-label>
            <input matInput formControlName="date" [matDatepicker]="picker" required/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <mat-error *ngIf="hasErrorFirst('date', 'required')">Date is required</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Pick specialty of doctor">
      <form [formGroup]="secondFormGroup">
        <mat-form-field appearance="fill">
            <mat-label>Specialty</mat-label>
            <mat-select formControlName="specialty" required>
                <mat-option *ngFor="let specialty of specialties" [value]="specialties">
                  {{specialty.Name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="hasErrorSecond('specialty', 'required')">Specialty is required</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Pick doctor">
        <form [formGroup]="thirdFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Doctor</mat-label>
                <mat-select formControlName="doctor" required>
                    <mat-option *ngFor="let doctor of doctors" [value]="doctors">
                      {{doctor.Name}}
                    </mat-option>
             </mat-select>
             <mat-error *ngIf="hasErrorThird('doctor', 'required')">Doctor is required</mat-error>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="forthFormGroup" label="Pick appointment">
        <form [formGroup]="forthFormGroup">
            <mat-form-field appearance="fill">
                <mat-label>Appointment</mat-label>
                <mat-select formControlName="appointment" required>
                    <mat-option *ngFor="let appointment of appointments" [value]="appointments">
                      {{appointment}}
                    </mat-option>
             </mat-select>
             <mat-error *ngIf="hasErrorForth('appointment', 'required')">Appointment is required</mat-error>
            </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button style=" background-color: white;float: right;margin-top: 10%;">Done</button>
          </div>
        </form>
    </mat-step>
  </mat-stepper>
