.table {
    width: 100%;
    margin-bottom: 2%;
}
  
.mat-column-comment {
    width: 600px;
    padding-right: 24px;
    text-align:left;
}

.mat-column-name {
    padding-left: 16px;
    width: 30px;
    text-align: center;
}
.mat-column-date {
    width: 25px;
    text-align: center;
}

.example-card{
    background-color:#DCDCDC;
    border-radius: 2.5%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.reviews-holder{
    margin-top: 3%; 
}